@page
@model ContactsManagementApp.Pages.Clients.DeleteModel

@{
    ViewData["Title"] = "Удалить организацию";
}

<h1>Удалить организацию?</h1>
<div class="alert alert-warning w-50" role="alert">
    Сотрудники организации также будут удалены
</div>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Client.ClientId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a class="btn btn-primary" asp-page="./Index">Назад</a>
    </form>
</div>
