@page
@model ContactsManagementApp.Pages.Departments.IndexModel

@{
    ViewData["Title"] = "Подразделения";
}

<h1>Подразделения</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Добавить</a>
</p>
<div class="w-50">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Department[0].Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Department)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-page="./Edit" asp-route-id="@item.DepartmentId">Изменить</a>
                        <a class="btn btn-sm btn-danger" asp-page="./Delete" asp-route-id="@item.DepartmentId">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
